.ipynb_checkpoints
.DS_Store
.spyproject
*.egg-info
.idea
.pytest_cache
.virtual_documents
*.pickle
*.pkl
*.png
*.pdf

__pycache__
build/
dist/

# Multioutput benchmark generated outputs
multioutput/benchmarks/simulation/experiments/output/